@model List<MvcNba.Models.ModelVistaProximosPartidos>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Reservar Entradas";
}



<style>

    .login-message {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        padding: 10px;
    }

        .login-message a {
            color: #721c24;
            text-decoration: underline;
            font-weight: bold;
        }

    /* Centrar verticalmente */
    .vertical-center {
        display: flex;
        align-items: center;
    }
    .container {
        margin-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        text-align: center;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
    }

    .btn-reservar {
        background-color: forestgreen;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-reservar2 {
        background-color: rebeccapurple;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-reservar:hover {
        background-color: lightgreen;
    }

    .btn-reservar2:hover {
        background-color: mediumpurple;
    }
</style>
<div class="container">
    <h1 class="text-center">Próximos Partidos</h1>
    <div class="row">
        @foreach (var partido in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@HelperPathProvider.MapUrlPath(@partido.ImagenPartido, Folders.Partidos)" alt="Imagen del Partido" />
                    <div class="card-body">
                        <h5 class="card-title">@partido.EquipoLocal vs @partido.EquipoVisitante</h5>
                        <p class="card-text">@partido.Fecha.ToShortDateString() - @partido.Fecha.ToShortTimeString()</p>
                        <p class="card-text">Precio de la Entrada: $@partido.PrecioEntrada</p>
                        <p class="card-text">Plazas Disponibles: @partido.PlazasDisponibles</p>
                        @if (Context.Session.GetObject<Usuario>("CurrentUser") != null)
                        {
                            <a asp-controller="Entradas" asp-action="Reservar" asp-route-id="@partido.IdPartido" class="btn btn-reservar">Reservar Entrada</a>
                            @if (Model.Any(p => Context.Session.GetObject<List<int>>("PARTIDOS")?.Contains(partido.IdPartido) ?? false))
                            {
                                <img src="~/varios/guardado.png" style="width: 35px; height: 35px;" />
                            }
                            else
                            {
                                <a asp-controller="Entradas" asp-action="VistaReservaEntradas" asp-route-idPartido="@partido.IdPartido" class="btn btn-reservar2">Guardar en Carrito</a>
                            }
                        }
                        else
                        {
                            <div class="text-center mt-3 login-message vertical-center">
                                <span>Debes <a asp-controller="Usuarios" asp-action="Login">iniciar sesión</a> para reservar o agregar al carrito.</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>